body {
    font-family: Arial, Helvetica, sans-serif; /* até trocar pela certa */
    margin: 10px;
    padding: 10px;
    font-size: 130%;

}

header {
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* // <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name */


/* FONTE PRINCIPAL SEM SERIFA
FONTE DA LOGO (TÍTULO)
FONTE AUXILIAR (pode ser com serifa) */